.content-header
  %h1 New adjunct

= error_messages_for @adjunct

.content-body
  = form_for(@adjunct, :action => resource(:adjuncts)) do
    = partial :form
    %br
    = submit "Create"

.content-footer
  = link_to 'Back', url(:adjuncts)
