.content-header
  %h1 New hops

= error_messages_for @hop

.content-body
  = form_for(@hop, :action => resource(:hops)) do
    = partial :form
    %br
    = submit "Create"

.content-footer
  = link_to 'Back', url(:hops)
