.content-header
  %h1 Edit Recipe

= error_messages_for @recipe

.content-body
  = form_for(@recipe, :action => url(:recipe, @recipe)) do
    = partial :form
    %br
    = submit "Update"

.content-footer
  = add_separator_if show_link(@recipe)
  = link_to 'Back', resource(:recipes)
