.content-header
  %h1 Recipes

.content-body
  %table
    %tr
      %th Recipes
      %th Brewer
    - for recipe in @recipes
      %tr
        %td
          = recipe.title
        %td
          = recipe.user.name
        %td
          = authz_show_link(recipe)
        %td
          = authz_edit_link(recipe)
        %td
          = authz_delete_link(recipe, "X")
          
.content-footer
  = authz_new_link(:recipes, "New Recipe")
