%h2 Recipes

%ul#recipes
  -@recipes.each do |recipe|
    %li
      = h recipe.title
      = link_to 'Show', recipe
      = link_to 'Edit', edit_recipe_path(recipe)
      = link_to 'Delete', recipe, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New recipe', new_recipe_path
