.content-header
  %h1 
    New recipe

= error_messages_for @recipe

.content-body
  = form_for(@recipe, :action => resource(:recipes)) do
    = partial :form
    %br
    = submit "Create"

.content-footer
  = link_to "Back", resource(:recipes)
