.content-header
  %h1 Edit Fermentable

= error_messages_for @fermentable

.content-body
  = form_for(@fermentable, :action => url(:fermentable, @fermentable)) do
    = partial :form
    %br
    = submit "Update"

.content-footer
  = add_separator_if show_link(@fermentable)
  = link_to 'Back', resource(:fermentables)
