.content-header
  %h1 New fermentable

= error_messages_for @fermentable

.content-body
  = form_for(@fermentable, :action => resource(:fermentables)) do
    = partial :form
    %br
    = submit "Create"

.content-footer
  = link_to 'Back', url(:fermentables)
