.content-header
  %h1 Sign Up
  
- require_css :form
 
= error_messages_for :user

.content-body
  = form_for(@user, :action => "/signup", :method => :put) do
    %p
      = text_field :login, :label => "Login: "
      %br
      = text_field :email, :label => "E-Mail: "
      %br
      = password_field :password, :label => "Password: "
      %br
      = password_field :password_confirmation, :label => "Confirm: "
      %br
      = submit "Sign Up"
