.content-header
  %h1
    Edit 
    = @ingredient.type

  = error_messages_for @ingredient

.content-body
  = form_for(@ingredient, :action => resource(@ingredient)) do
    %p
      = partial :form
      = submit "Update"

.content-footer
  = link_to "Show", resource(@ingredient)
  |
  = link_to "Index", resouce(:ingredients)