.content-header
  %h1
    Ingredients

.content-body
  %table
    %tr
      %th Ingredient
      %th Type
    - for ingredient in @ingredients
      %tr
        %td
          = ingredient.name
        %td
          = ingredient.type
        %td
          = authz_show_link(ingredient)
        %td
          = authz_edit_link(ingredient)
        %td
          = authz_delete_link(ingredient, "X")

.content-footer
  = authz_new_link(:ingredients, "New Ingredient")
