.content-header
  %h1
    New Ingredient
    
  = error_messages_for :ingredient

.content-body
  = form_for(@ingredient, :action => resource(:ingredients)) do
    %p
      = partial :form
      = submit "Create"

.content-footer
  = link_to 'Back', resource(:ingredients)
