.content-header
  %h1 Edit Batch

= error_messages_for :batch

.content-body
  = form_for(@batch, :action => url(:batch, @batch)) do
    partial :form
    = submit "Update"

.content-footer
  = link_to 'Show', url(:batch, @batch)
  |
  = link_to 'Back', url(:batches)
