%h2 Batches

#batches
  #batch-list
    %ul
      %h4 My Batches:
      -@own_batches.each do |batch|
        %li
          = h batch.title
          = link_to 'Show', batch
          = link_to 'Edit', edit_batch_path(batch)
          = link_to 'Delete', batch, :confirm => 'Are you sure?', :method => :delete
    .link= link_to 'New batch', new_batch_path
  #batch-list
    %ul
      %h4 Other Brewers:
      -@others_batches.each do |batch|
        %li
          = h batch.title
          = link_to 'Show', batch

