.content-header
  %h1 Batches

.content-body
  %table
    %tr
    - for batch in @batches
      %tr
        %td
          = batch.recipe.title
        %td
          = batch.started_on
        %td
          = link_to 'Show', url(:batch, batch)
        %td
          = link_to 'Edit', url(:edit_batch,  batch)

.content-footer
  = link_to 'New', url(:new_batch)