.content-header
  %h1 Batches

.content-body
  %table
    %tr
      %th Recipe
      %th Date
      %th Brewer
    - for batch in @batches
      %tr
        %td
          = batch.recipe.title
        %td
          = batch.started_on
        %td
          = batch.user
        %td
          = show_link batch
          
.content-footer
  = new_link :batches
