%h2 Batches
  
%ul#batches
  - @batches.each do |batch|
    %li
      = link_to h(batch.recipe.title), batch.recipe
      started on
      = h batch.brewed_on
      = link_to 'Show', batch
      |
      = link_to 'Edit', edit_batch_path(batch)
      |
      = link_to 'Remove', batch, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New batch', new_batch_path
