.content-header
  %h1 New Batch

= error_messages_for @batch

.content-body
  = form_for(@batch, :action => url(:batches) ) do
    = partial :form
    = submit "Create"

.content-footer
  = link_to 'Back', url(:batches)
