.content-header
  %h1 Edit Yeast

= error_messages_for @yeast

.content-body
  = form_for(@yeast, :action => url(:yeast, @yeast)) do
    = partial :form
    %br
    = submit "Update"

.content-footer
  = add_separator_if show_link(@yeast)
  = link_to 'Back', resource(:yeasts)
