.content-header
  %h1 New yeast

= error_messages_for @yeast

.content-body
  = form_for(@yeast, :action => resource(:yeasts)) do
    = partial :form
    %br
    = submit "Create"

.content-footer
  = link_to 'Back', url(:yeasts)
