%h2 Login

- form_for @user_Session, :url => user_session_path do |f|
  = f.error_messages
  %br
  = f.label :email
  %br
  = f.text_field :email
  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  = f.submit "Login"
