!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title The Mashery
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = stylesheet_link_tag 'layout'
    = yield :stylesheets
  %body
    .container
      #head
        = render :partial => 'shared/header'
      #navigation
        = render :partial => 'shared/navigation'
      #content
        %p{ :style => "color: green" }
          = flash[:notice]
        = yield(:content) || yield
      #foot
        = render :partial => 'shared/footer'